* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.speech-container{
    width:90%;
    margin:5% auto;
    height:100vh;
}

textarea {
    min-height: 70%;
    max-height: 70%;
    min-width: 100%;
    max-width:100%;
    margin-bottom:0.3rem;
    padding:1rem;
}

button {
    width:25%;
    height:30px;
    
}

.input-number{
    padding:5px;
    width:10%;
    height:30px;
}


@media (max-width:5000px){
    .speech-container{
        max-width:500px;
    
    }
    
}


@media (max-width:500px){
       
    button{
        margin-top:10px;
        margin-left:10px;
    }
    .input-number{
        width: 15%;

    }

}